*.pyc
build/*
dist/*
*egg*
rainforest/ml/rf_models/*.p
rainforest/common/data/coords_COSMO1.nc
rainforest/common/data/coords_COSMO1_T.nc
./build/lib/rainforest/ml/rf_models/vpol_model_BC_raw.p
./build/lib/rainforest/ml/rf_models/vpol_model_BC_spline.p
./build/lib/rainforest/ml/rf_models/weighted_dualpol_model_BC_cdf.p
./build/lib/rainforest/ml/rf_models/hpol_model_BC_spline.p
./build/lib/rainforest/ml/rf_models/weighted_vpol_model_BC_cdf.p
./build/lib/rainforest/ml/rf_models/weighted_hpol_model_BC_cdf.p
./build/lib/rainforest/ml/rf_models/dualpol_model_BC_raw.p
./build/lib/rainforest/ml/rf_models/hpol_model_BC_raw.p
./build/lib/rainforest/common/data/coords_COSMO1.nc
./build/lib/rainforest/common/data/coords_COSMO1_T.nc
./dist/rainforest-1.0-py3.6.egg
./rainforest/ml/rf_models/RF_vpol_BETA_-0.5_BC_raw.p
./rainforest/ml/rf_models/RF_hpol_BETA_-0.5_BC_raw.p
./rainforest/common/data/coords_COSMO1.nc
./rainforest/common/data/coords_COSMO1_T.nc
./examples/output/*
