boto3
Cython
dask
imageio
matplotlib
mlflow
mlflow_skinny
netcdf4
numba
prompt_toolkit
pyart_mch
pyarrow
pandas
pyshp
pyspark==3.3.4
pysteps
python_dateutil
pytz
PyYAML
scikit_learn
xmltodict
cartopy
