boto3==1.34.49
Cython==3.0.8
dask==2025.7.0
imageio==2.34.0
matplotlib==3.8.3
mlflow==3.2.0
mlflow_skinny==3.2.0
netcdf4==1.7.2
numba==0.61.2
prompt_toolkit==3.0.43
pyart_mch==2.1.2
pyshp==2.3.1
pyspark==3.5.1
pysteps==1.18.1
python_dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
scikit_learn==1.7.1
setuptools==69.1.0
xmltodict==0.14.2
